body {
  font-family: "Red Hat Mono", monospace;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  margin: 30px 0 30px 40px;
}
.agenda {
  font-size: 25px;
  color: brown;
  margin: 10px 0 10px 40px;
  font-family: "Red Hat Mono", monospace;
}

.agenda ul {
  list-style: square;
}

.agenda li {
  line-height: 40px;
}
