body {
  font-family: "Red Hat Mono", monospace;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  margin: 30px 0 30px 40px;
}
footer {
  margin: 30px 0 30px 40px;
  font-size: 25px;
}

footer a {
  color: black;
}

footer a:hover {
  color: #885df1;
  transition: all 500ms ease;
}

.agenda {
  font-size: 25px;
  color: brown;
  margin: 10px 0 10px 40px;
  font-family: "Red Hat Mono", monospace;
}

.agenda p {
  text-decoration: underline;
  margin-bottom: -10px;
}
.agenda ul {
  list-style: square;
}

.agenda li {
  line-height: 45px;
}
